---
layout: post
id: jam_210
published: true
date_tab: 19 Jan 2015
month: Jan
day: 19
---

      </div>
      <div class="container" id="event-archive">
        <div class="chunk title content fullwidth column" id=
        "jam_206" data-tabname="Title">
          <h2>Previous events</h2>
        </div>
        <div class="chunk information content fullwidth column" id=
        "jam_212" data-tabname="Text">
          We've been running a multitude of events over the past
          few years concerned with computer science, programming
          language theory and new ways of thinking and representing
          computation.<br>
          <br>
          Below you'll find our event archive covering events we've
          ran in previous years.<br>
        </div>
      </div>
    </section>
