---
layout: default
---
 <section id="jam_207" class="">
   <div class="container" id="meetings">
     <div class="chunk title" id="jam_208" data-tabname="Title">
       <h2>Meetings</h2>
     </div>
   </div>
 </section>

 <section data-behaviour="tabbed" id="jam_209" class="">
   <div class="container" id="meetings">

     {% for post in site.posts %}
     <div class="chunk event {% if forloop.first %}active{% endif %}"
          id="{{ post.id | slugify }}"
          data-tabname="{{ post.date | date: "%d %b %Y" }}">
        <div class="content fullwidth column">
          <a href="{{ post.url }}#meetings">
             <div class="date">
                <div class="month">{{ post.date | date: "%b" }} </div>
                <div class="day"> {{ post.date | date: "%d" }} </div>
             </div>
          </a>
          {{ post.content }}
       </div>
     </div>
     {% endfor %}
   </div>
 </section>
